extends base

block content
    div#videoContainer(data-id=video._id)
        video(src=video.fileUrl crossorigin)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div 
                span#fullScreen
                    i.fas.fa-expand
    div#video__info
        p#video__title #{video.title}
        p#video__description #{video.description}
        p#hashtags #{video.hashtags.join(" ")}
        small#video__createdAt #{video.createdAt}
        div#upload Uploaded by 
            a(href=`/users/${video.owner._id}`) 
                img(src=video.owner.avatarUrl width="40" height="40" crossorigin)
                p #{video.owner.name}

        if video.owner.id === loggedInUser._id 
            div#video__edit
                a(href=`${video.id}/edit`) Edit Video &rarr;
                a(href=`${video.id}/delete`) Delete Video &rarr;

    if loggedIn    
        div.video__add-comments
            form.video__comment-form#commentForm
                input#comment(type="text" placeholder="Write a comment.")
                button(name="submitBtn")
                    i.fas.fa-plus
    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment.id)
                    span#profile_img   
                        a(href=`/users/${comment.owner._id}`) 
                            img(src=comment.owner.avatarUrl width="30" height="30" crossorigin)
                    span #{comment.text}
                    if comment.owner._id==loggedInUser._id
                        span#video__delete-comment ❌
        

    

block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")