extends base

block content
    video.video(src="/"+video.fileUrl controls)
    div.video__info
        p.video__title #{video.title}
        p.video__description #{video.description}
        small.video__createdAt #{video.createdAt}
    div 
        small Uploaded by 
            a(href=`/users/${video.owner._id}`)  #{video.owner.name}
    if video.owner.id === loggedInUser._id 
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;